<div *ngIf="user">
    <div id="container" style="width: 500px;">
        <a href="/"><img src="assets/img/logo.jpg" width="200" /></a>

        <h1>Welcome {{user.firstName}}</h1>

        <a [routerLink]="['/courses']" class="fl"><button>All courses</button></a>
        <a [routerLink]="['/courses/students-list']" class="fl margin-left"><button>All students</button></a>
        
        <a href="/api/auth/signout" class="fl margin-left"><button class="signoutButton">Sign out</button></a>
    </div>
</div>

<div *ngIf="!user">
    <div style="width: 150px; margin: 25% auto;">
        <a [routerLink]="['/authentication/signup']"><button>Sign up</button></a>
        <a [routerLink]="['/authentication/signin']"><button>Sign in</button></a>
    </div>
</div>